/*
* Main Styling Sheet, SCSS Format.
*/
//Variables
$linkHover:#2233aa;
$twitchGray: #231f20;
$twitchPurple: #6441a5;
$accentBlue: #0078a3;

body{
	margin:0;
	padding:0;
	background:black;
}

header{
	background:white;
	width:100%;
	height:120px;
	
	
	img{
		margin:2px;
		display:inline-block;
		vertical-align:middle;
	}
	
	h1{
		color:$twitchGray;
		display:inline-block;
		font-family: sans-serif;
		font-size: 32pt;
	}
}

//Overall container
#container{
	width:1000px;
	margin: 0 auto;
	height:auto;
}

//This area is just used for the RSS links for now
#contentArea{
	float:left;
	width:500px;
	color:white;
	text-align:left;

	h3{
		position:relative;
		display:block;
	}

	h3 span{
		font-size:65%;
		display:block;
		vertical-align:middle;
		position:relative;
	}
}

//This area is just used for the twitch video
#twitchArea{
	width:500px;
	color:white;
	font-family: sans-serif;
	text-align:center;
	position:fixed;
	right:0}


//Standard Links across the entire website.
a{
	&:link{
		color:$accentBlue !important;
		text-decoration:none;
	}
	
	&:visited{
		color:$twitchPurple !important;
		text-decoration:none;
	}
	
	&:hover{
		color: $twitchPurple !important;
	}
	
	&:active{}
}


/* The Summary text added by jQuery */
.rss-summary{
	color:white;
	display:none;
}

/* A generic square box that we'll use later. */
.box{
	display:inline-block;
	border: 5px solid white;
	background: $twitchGray;
	text-align:center;
	vertical-align:middle;
	font-size:18pt;
	font-family: sans-serif;
	color:white;
	width:116px;
}

.header_image{
	width:370px;
	height:auto;
}
.cost{
	@extend .box;
}

.metacritic{
	@extend .box;
	color: #aaffaa !important;
}

.cost-header{
	@extend .box;
	font-size:16pt !important;
}


#twitchPlayer{
	background:black;
	text-align:center;
	padding-top:20px;
}

a.launchSteam{
	&:link{
		display:block;
		width:95px;
		height:17px;
		font-size:18px;
		text-align:center;
		padding: 6px 10px 6px 10px;
		color:white !important;
		background:$twitchPurple;
		text-decoration:none;
	}
	
	&:visited{
		text-decoration:none;
	}
	
	&:hover{
		background: $accentBlue !important;
	}
	
	&:active{}
}


